body,
html {
    width: 100%;
    height: 100%;
    position: relative;
}

li {
    list-style: none;
}

.side-bar {
    position: absolute;
    background-color: #fefbf4;
    width: 33%;
    height: 631px;
    border: 1px solid rgb(223, 215, 215);
    padding: 90px 80px 50px;
    overflow: auto;
    z-index: 7;
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease-in-out 0.6s;
}

.side-bar-second {
    position: absolute;
    background-color: #fefbf4;
    width: 33%;
    height: 631px;
    border: 1px solid rgb(223, 215, 215);
    padding: 90px 80px 50px;
    overflow: auto;
    z-index: 6;
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease-out 0.7s;
}

.side-bar-second p {
    font-weight: 600;
    font-size: 16px;
    color: #414548;
    margin-left: 32px;
}

.side-bar-third {
    position: absolute;
    background-color: #fefbf4;
    width: 34%;
    height: 631px;
    border: 1px solid rgb(223, 215, 215);
    padding: 90px 80px 50px;
    overflow: auto;
    z-index: 5;
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease-out 0.65s;
}

.side-bar-center {
    position: fixed;
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: 15%;
    background-color: #fefbf4;
    width: 40%;
    height: 600px;
    overflow: auto;
    z-index: 103;
    opacity: 1;
    border-radius: 8px;
    box-shadow: 0 1px 21px rgba(229,184,96,.25);
}

.side-bar-third p {
    font-weight: 600;
    font-size: 16px;
    color: #414548;
}

.group__background {
    position: fixed;
    top: 0;
    left: 0;
}

.group__background img {
    height: 631px;
}

.side-bar-right {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fefbf4;
    width: 34%;
    height: 100vh;
    border: 1px solid rgb(223, 215, 215);
    padding: 90px 80px 50px;
    overflow: auto;
    z-index: 102;
    opacity: 0;
    transform: translateX(100%);
    transition: all linear 0.4s;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(67, 50, 50, 0.42);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.right-sidebar {
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
}

.second-sidebar {
    z-index: 4;
}

.show-second {
    transform: translateX(100%);
    opacity: 1;
}

.show-third {
    transform: translateX(194%);
    opacity: 1;
}

.show {
    transform: translateX(0%);
    opacity: 1;
}

.show-text {
    animation: fadeInDown 1s ease-in-out;
}

.show-info {
    animation: fadeInDown 1.2s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.group__link:hover {
    border-bottom: 1px solid #414548;
}

.link-pc {
    text-decoration: none;
    font-size: 26px;
    color: #414548;
    font-weight: 500;
}

.link-mobile {
    text-decoration: none;
    font-size: 20px;
    color: #414548;
    font-weight: 500;
}

.btn-sample {
    background-color: #fefbf4;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #414548;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.close-sample {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #414548;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 1s;
}

.close-sample:hover {
    transform: rotate(180deg);
}

/* CSS HEADER PC: START */
.header__pc {
    width: 100%;
    font-family: 'Nunito';
    position: fixed;
}

.banner {
    background-color: black;
    width: 100%;
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;
    z-index: 100;
}

.nav {
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefbf4;
    position: relative;
    z-index: 100;
    box-shadow: 0px 3px 3px 0px rgba(151, 108, 108, 0.22);
    border-bottom: #b7b77082 0.5px solid;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav__logo img {
    width: 150px;
    height: 65px;
    cursor: pointer;
}

.nav__item {
    margin: 15px 10px 0px;
}

.nav__link {
    font-size: 16px;
    color: #1f1c17;
}

.nav__link:hover {
    border-bottom: 1px solid #414548;
}

.header__mobile {
    display: none;
}

/* CSS PRODUCT: START */

.product p {
    font-weight: 600;
    font-size: 16px;
    color: #1f1c17;
    margin-left: 32px;
}

.product__related {
    margin: 90px 0 60px;
}

.skincare p {
    font-weight: 600;
    font-size: 16px;
    color: #414548;
    margin-left: 32px;
}

.group__product--item {
    margin-bottom: 40px;
}

.group__product--list {
    margin-left: -32px;
    margin-top: 40px;
}

.group__product--link {
    display: flex;
}

#new-product p {
    margin-left: 0px;
}

.group__info--product {
    width: 250px;
}

.group__name--product {
    color: #414548;
    font-size: 16px;
    font-weight: 600;
}

.group__describe--product {
    color: #1f1c17;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.group__price--product {
    color: #414548;
    font-size: 14px;
}

.group__product--link img {
    width: 72px;
    height: 72px;
    margin-left: 20px;
}

/* CSS PRODUCT: END */

/* CSS DISCOUNT: START */
.discount p {
    font-weight: 600;
    font-size: 16px;
    color: #414548;
    margin-left: 32px;
}

/* CSS DISCOUNT: END */

/* CSS COSMETIC:START */
.cosmetic p {
    font-weight: 600;
    font-size: 16px;
    color: #414548;
    margin-left: 32px;
}

/* CSS COSMETIC:END */

/* CSS SEARCH: START */
.search__container {
   margin-top: 30%;
}
.search__input {
    margin-left: 32px;
    margin-bottom: 32px;
}

.search__input p {
    font-weight: 600;
    font-size: 16px;
    color: #1f1c17;
    margin-bottom: 64px;
}

.search__suggest p {
    font-weight: 600;
    font-size: 16px;
    color: #1f1c17;
    margin-left: 32px;
}

/* CSS SEARCH: END */

/* CSS CART: START */
.message {
    color: #ccb48f;
    font-style: italic;
    text-align: center;
}

.button {
    text-decoration: none;
    width: 200px;
    height: 50px;
    color: #fefbf4;
    font-size: 16px;
    background-color: #1f1c17;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.cart-empty__body {
    width: 348px;
    height: 285px;
    margin-top: 100px;
    display: grid;
    place-items: center;
}

/* CSS CART: END */
/* CSS CONTACT: START */
input:focus {
    border-bottom: 1px solid black;
    outline: none;
}

::placeholder {
    color: #b48a3682;
}

.contact {
    display: none;
    padding: 24px;
}

.contact__col {
    display: flex;
}

.group__input {
    background-color: #fefbf4;
    width: 510px;
    height: 45px;
    margin:20px 0 10px;
    font-size: 16px;
    border: none;
    border-bottom: #b48a3682 1px solid;
}
.group__status {
    color: #be2f31;
    font-size: 12px;
    font-style: italic;
}
.contact__name {
    width: 240px;
    margin-right: 30px;
}

.contact__tel {
    width: 240px;
}

.contact__title {
    color: #1f1c17;
    font-size: 30px;
    margin-bottom: 30px;
}
.contact__btn {
    margin-top: 50px;
}
.btnSend {
    font-size: 22px;
    width: 250px;
    height: 70px;
    margin-right: 10px;
    float: left;
    border: none;
}

.btnSend:hover {
    background-color: rgb(103, 91, 91);
}

.btnCall {
    font-size: 22px;
    background-color: #fefbf4;
    color: #1f1c17;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #b48936;
}

.btnCall:hover {
    background-color: #1f1c17;
    color: #fefbf4;
}

.show-contact {
    display: grid;
    place-items: center;
    opacity: 1;
    animation: fadeIn 0.5s ease;
}
/* CSS CONTACT: END */

/* CSS LOGIN: START */
.show-login {
    opacity: 1;
    animation: fadeIn 0.5s ease;
}

.login__title {
    color: #1f1c17;
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 600;
}

.login {
    top: 5%;
    left: 35%;
    right: 35%;
    width: 30%;
    display: none;
    height: 656px;
    padding: 32px;
}

.txt-dn{
    font-size: 12px;
    font-weight: 600;
}

.heading{
    font-size: 24px;
    margin-bottom: 12px;
}
.dk-tai-khoan{
    font-size: 12px;
    margin-bottom: 24px;
}

.tao-tk{
    color: #C5A25D;
    font-size: 14px;
    margin-left: 3px;
}

.login-tai-khoan{
    margin-bottom: 12px;
    align-items: center;
}
.login__input {
    width: 100%;
    background-color: #fefbf4;
    font-size: 16px;
    border: none;
    outline-style: none;
    border-bottom: #b48a3682 1px solid;
}

.icon{
    margin-right: 10px;
    margin-bottom: 0;
    color: #C5A25D;
}

.note-pass{
    font-style: italic;
    font-size: 12px;
}
.quen-mk:hover{
    --tw-text-opacity: 1;
    color: rgba(204, 180, 143, var(--tw-text-opacity));
    font-weight: 600;
}
.quen-mk{
    float: right;
    --tw-text-opacity: 1;
    color: rgba(204, 180, 143, var(--tw-text-opacity));
    text-decoration: none;
    font-size: 12px;
}
.ghi-nho-mat-khau{
    padding-top: 24px;
    padding-bottom: 32px;
}
.dang-nhap{
    background-color: #000;
    color: aliceblue;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dang-nhap:hover{
    opacity: 70%;
    border-radius: 0.5;
}
.dn-khac-item{
    width: 64px;
    height: 64px;
    font-size: 20px;
    margin-right: 12px;
    text-decoration: none;
    color: #C5A25D;
}
.dn-khac-item:hover{
    color: #C5A25D;
    opacity: 120%;
}
.error-input{
    color: red;
}
/* CSS LOGIN: END */
/* CSS HEADER MOBILE: START */
@media screen and (max-width: 1023px) {
    .header__mobile {
        display: block;
        width: 100%;
        height: auto;
        font-family: 'Nunito';
        position: fixed;
    }

    .header__pc {
        display: none;
    }

    .banner {
        width: 100%;
        height: 33px;
    }

    .nav {
        width: 100%;
        height: 60px;
        justify-content: space-between;
    }

    .nav__list--menu {
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px 0 40px 20px;
        background-color: #fefbf4;
        width: 100%;
        height: 100vh;
        overflow: auto;
        z-index: 1;
        list-style: none;
        opacity: 0;
        transform: translateX(-100%);
        transition: all linear 0.4s;
    }

    .nav__item {
        margin: 5px 10px 0;
    }

    .nav__link {
        font-weight: 600;
        font-size: 16px;
    }

    .nav__logo {
        width: 10px;
    }

    .nav__logo img {
        width: 85px;
        height: 43px;
    }

    .close__menu {
        cursor: pointer;
        margin: 25px 0;
        color: #414548;
    }

    .login__mobile {
        position: absolute;
        right: 35px;
        top: 50px;
        display: block;
        cursor: pointer;
    }

    .open__menu {
        margin: 20px;
        cursor: pointer;
    }

    .show {
        transform: translateX(0%);
        opacity: 1;
    }

    /* CSS PRODUCT MOBILE: START */
    .product__mobile--category {
        margin-bottom: 30px;
    }

    .group__title {
        font-weight: 600;
        font-size: 16px;
        color: #1f1c17;
        cursor: pointer;
    }

    .product__mobile {
        margin-bottom: 40px;
    }

    /* .product__list {
        margin-bottom: 40px;
    } */

    .product__item {
        margin-left: -32px;
    }

    .product__related--mobile,
    .discount__mobile,
    .cosmetic__mobile {
        display: none;
    }

    .show-mobile {
        display: inline-block;
        animation: fadeInDown 1s ease-in-out;
    }

    .show-text-mobile {
        animation: fadeInDown 1s ease-in-out;
    }

    .group__item--mobile {
        margin-left: -32px;
    }

    /* CSS PRODUCT MOBILE: END */
}


/* ANIMATION */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}